# vim: ft=ini

[submodule "ffxiv-datamining-ko"]
path = data/ko
url = https://github.com/Ra-Workspace/ffxiv-datamining-ko.git
branch = master
shallow = true
update = checkout
fetchRecurseSubmodules = false
